__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.env
.cache
.cache/
*.spec
venv/
.venv/
progress.json
export.csv
.spotify_cache
spotify_auth_cache.json
config.json
classification_cache.json
logs/
